{% extends "blog/base1.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}

	<!-- -->
	<h1>{{ post.title }}</h1>
	<p class="date">Published {{ post.updated }} by {{ post.author }}</p>

    <p class="tags">
    Tags: 
    {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
	</p>

	<div>{{ post.body |safe}}</div>
	<p><a href='{% url "blog:post_share" post.id %}'>Share this post</a></p>
	<!-- -->


	<!-- -->
	<h2>Similar posts</h2>
	{% for post in similar_posts %}
		<p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
	{% empty %}
		<p>There are no similar posts yet</p>
	{% endfor %}
	<!-- -->

{% endblock %}



{% block contact %}

	<!-- -->
	<div class="row">
		<div class="col-lg-12">

			<div class="innerContactDIV">

				<!-- -->
				<h3 class="section-subheading text-muted contact-txt">Whether you're just starting out or need help with an existing project, we're here to help.<br> You can schedule a meeting now by using the form below.</h3>
				<!-- -->

				<!--    <form name="sentMessage" id="contactForm" novalidate>   -->
				<form id="feedback" action="AJAX/feedback.php" enctype="multipart/form-data" method="post">
					<div id="response" style="display: none;"><!--This will hold our error messages and the response from the server. --></div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input name="name" type="text" id="name" class="form-control required" placeholder="Your Name *" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input name="email" type="text" id="email" class="form-control required" placeholder="Your Email *" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input name="phone" type="tel" id="phone" class="form-control" placeholder="Your Phone *" required="" data-validation-required-message="Please enter your phone number.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea name="message" id="message" class="form-control myTextArea required" placeholder="Your Message *" required="" data-validation-required-message="Please enter a message."></textarea>
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button type="submit" class="btn btn-primary btn-large active myBTN" name="submit" id="submit">Send Message</button>

							<!-- -->
							<div class="inputs">
								<input type="hidden" name="honeypot" id="honeypot" value="http://">
								<input type="hidden" name="humancheck" id="humancheck" class="clear" value="">
							</div>
							<!-- -->


						</div>
					</div>
				</form>
				<!-- -->

			</div>
		</div>
	</div>
	<!-- -->

{% endblock %}
