{% extends "blog/base.html" %}
{% load blog_tags %}

{% block marquee %}
	<h1>Marquee !!!!</h1>

	<div class="myContent intro">
		<h5 class="small-title"> {{ marquee.welcome_text }} </h5>
		<h1 class="intro-title">{{ marquee.headline_text }}</h1>
		<a href="#section1" class="intro-more scrollTo btn-main medium">{{ marquee.button_text }}</a>
	</div>

<!--
image = models.FileField(null=True, blank=True)

		<div class="myContent intro">
		<h5 class="small-title"> welcome to carna </h5>
		<h1 class="intro-title">we creat <br> your next UI</h1>
		<a href="#section1" class="intro-more scrollTo btn-main medium">find more</a>
-->

{% endblock %}
